body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    font-family: Arial, sans-serif;
}

.homepage-container {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 3s ease-in-out forwards;
    text-align: center;
    color: #fff;
}

.welcome-message {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 1.2em;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}